body
{
	font-family: Arial;
	font-size: 8pt;
}

table
{
	border: 0px solid #e3e3e3;
	border-collapse: collapse;
}

tr:nth-child(even) 
{
	background: #f5f5f5;	
}

tr:nth-child(odd) 
{
	background: #f1f1f1;	
}


th, td 
{
	padding: 7px;
}


.noBorder {
    border:none !important;
}

tr:hover
{
	background:#A1E5DC;
}

tr
{
	-webkit-transition: color 1s ease;
	-ms-transition: color 1s ease;
	-moz-transition: color 1s ease;
	-o-transition: color 1s ease;	
 }
 
 
th
{
	padding: 3px;
	background: #2b5797;
	color: white;
	font-size: 13px;
	text-align:center;
	border: 1px solid #e3e3e3;		
}


td
{
	border: 1px solid #e3e3e3;
	padding: 5px;
	font-size: 11px;
	text-align:left;
}


.New_object
{
	color:#01B0F0;
	font-weight:bold;
	font-size:17px;
}

.running
{
	color: green;
	font-weight:bold;
	
}

.stopped
{
	color: red;
	font-weight:bold;
	
}

.checkname
{
	font-weight: bold;
}
.rowOne
{
	background: #f5f5f5;	
}
.rowTwo
{
	background: #f1f1f1
}
.conform
{
	color: green;
	text-align: center;
}
.notconform
{
	color: red;
	text-align: center;
}

.titre_list
{
	color: #2d89ef;
	font-weight:bold;
	font-size:16pt;
	font-family: Segoe UI light, Arial;
}

.subtitle
{
	font-family: Segoe UI Light, Arial;
	font-weight:bold;	
	font-size: 11pt;
	color:#00a300;
}


